<h2><%= l(:label_term) %> #<%= @term.id %></h2>

<% labelled_tabular_form_for :term, @term, 
                             :url => {:action => 'edit', :id => @project, :term_id => @term},
                             :html => {:multipart => true, :id => 'term-form'} do |f| %>
    <%= error_messages_for 'term' %>
    <div class="box">
    <%= render :partial => 'glossary/form', :locals => {:f => f} %>
    </div>
    <%= submit_tag l(:button_edit) %>
    <%= link_to_remote l(:label_preview),
                       { :url => { :controller => 'glossary', :action => 'preview', :id => @project },
                         :method => 'post',
                         :update => 'preview',
                         :with => "Form.serialize('term-form')",
                         :complete => "Element.scrollTo('preview')"
                       }, :accesskey => accesskey(:preview) %>
<% end %>

<div id="preview" class="wiki"></div>

<% html_title(l(:glossary_title)) -%>
