<h2><%=l :label_glossary_categories %></h2>

<div class="contextual">
  <%= link_to_if_authorized l(:label_glossary_category_new),
  { controller: :glossary_categories, action: :new, project_id: @project },
  class: 'icon icon-add' %>
</div>

<%= render partial: 'glossary_terms/sidebar' %>

<table class="list">
  <thead>
    <tr>
      <th>#</th>
      <th><%=l :field_name %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
	<td class="id"><%= category.id %></td>
	<td class="name"><%= link_to category.name, [@project, category] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
