
<% form = form_tag({:controller => 'glossary_styles', :action => 'search', :project_id => @project},
	    {:method => 'get', :id=>'search_form'}
	    ) do %>
<%= hidden_field_tag 'project_id', @project.id.to_s %>
<div id="glossary_search" class="hide-when-print">
<fieldset id="filters" class="collapsible <%= (glossary_searching?) ? "" : "collapsed" %>">
    	<legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    	<div style="<%= (glossary_searching?) ? "" : "display: none;" %>">

<table>

<tr><th><%=h l(:label_search) %></th>
<td>
<%= text_field_tag("search_str", params[:search_str]) %>
</td></tr>

<tr><th><%=h l(:field_category) %></th>
<td>
<%=
    select_tag(:search_category, 
               options_for_select(seach_category_options(@glossary_style.project_scope, @project), 
	                          params[:search_category]),
               {:include_blank => true})
%>
</td></tr>

<tr><th><%=h l(:label_latest) %></th>
<td>
<%= text_field_tag("latest_days", params[:latest_days], :size=>'10') %>
<%=h l(:label_indays) %>
</td></tr>
</table>

<%= submit_tag l(:label_search) %>
<%= submit_tag l(:button_clear), :name => 'search_clear' %>



</div>
</fieldset>
</div>

<% end %>
<%= form if Rails::VERSION::MAJOR >= 3 %>

