<h2><%= l(:label_baseline_edit) %></h2>
<%= form_for @evm_baselines, url: {action: :update, method: :get} do |f| %>
  <div class="box tabular">
    <p>
      <%= f.label :subject %>
      <%= f.text_field :subject, size: 60, required: true %>
    </p>
    <p>
      <%= label :bac ,l(:label_baseline_bac) %>
      <%= @evm_baselines.bac %>
    </p>
    <p>
      <%= label :start_date ,l(:label_baseline_start_date) %>
      <%= @evm_baselines.minimum_start_date %>
    </p>
    <p>
      <%= label :due_date ,l(:label_baseline_due_date) %>
      <%= @evm_baselines.maximum_due_date %>
    </p>
    <p>
      <%= f.label :description %>
      <span>
        <%= f.text_area :description, class: "wiki-edit", rows: 10 %>
      </span>
    </p>
    <%= wikitoolbar_for "evmbaseline_description" %>

  </div>
  <%= submit_tag l(:button_edit) %>
<% end %>
