<div class="contextual">
  <%= link_to l(:label_baseline_create), {controller: :evmbaselines, action: :new, id: @project.id}, class: "icon icon-add" %>
</div>
<h2><%= l(:label_baseline_version) %></h2>
<% if @evm_baselines.blank? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
    <table class="list versions">
      <thead>
        <tr>
          <th><%= l(:label_baseline) %></th>
          <th><%= l(:field_description) %></th>
          <th><%= l(:label_baseline_start_date) %></th>
          <th><%= l(:label_baseline_due_date) %></th>
          <th><%= l(:label_baseline_bac) %></th>
          <th><%= l(:field_status) %></th>
          <th><%= l(:field_author) %></th>
          <th><%= l(:field_created_on) %></th>
          <th><%= l(:field_updated_on) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      　　<% @evm_baselines.each do |baseline| %>
          <tr class="baseline">
            <td class="subject"><%= link_to baseline.subject, {controller: :evms, action: :index, evmbaseline_id: baseline.id} %></td>
            <td class="description"><%= textilizable truncate_lines(baseline.description, length: 50) %></td>
            <td class="strat_date"><%= baseline.minimum_start_date %></td>
            <td class="due_date"><%= baseline.maximum_due_date %></td>
            <td class="bac"><%= baseline.bac %></td>
            <td class="status"><%= baseline.state %></td>
            <td class="author"><%= baseline.author %></td>
            <td class="created_on"><%= local_date(baseline.created_on) %></td>
            <td class="updated_on"><%= local_date(baseline.updated_on) %></td>
            <td class="buttons">
              <%= link_to l(:button_show), {controller: :evmbaselines, action: :show, id: baseline.id}, class: "icon icon-move" %>
              <%= link_to l(:button_edit), {controller: :evmbaselines, action: :edit, id: baseline.id}, class: "icon icon-edit" %>
              <%= link_to l(:button_delete), {controller: :evmbaselines, action: :destroy, id: baseline.id} , class: "icon icon-del", method: :delete, data: {confirm: l(:messsage_delete_baseline)} %>
            </td>
          </tr>
      　　<% end; reset_cycle %>
      </tbody>
    </table>
<% end %>
<div>
  <%= link_to l(:label_latest_baseline), {controller: :evms, action: :index}, class: "icon icon-move" %>
</div>
