<h2><%= l(:label_baseline_create) %></h2>
<%= labelled_form_for @evm_baselines, :url => project_evmbaselines_path do |f| %>
  <p><%= f.text_field :subject, :size => 60, :required => true %></p>
  <div class="wiki">
    <p><%= f.text_area :description, class: 'wiki-edit' ,:rows => 10 %></p>
  </div>
  <%= wikitoolbar_for 'evmbaseline_description' %>
  </br>
  <%= submit_tag l(:button_create) %>
<% end %>
