<p>
  <%=l(:label_basis_hours_of_day)%>
  <%= text_field_tag("settings[working_hours_of_day]", @settings['working_hours_of_day'],{size: 5, placeholder: 8.0})%>
</p>
<p>
  <%=l(:label_limit_spi)%>
  <%= text_field_tag("settings[limit_spi]", @settings['limit_spi'],{size: 5, placeholder: 0.9})%>
</p>
<p>
  <%=l(:label_limit_cpi)%>
  <%= text_field_tag("settings[limit_cpi]", @settings['limit_cpi'],{size: 5, placeholder: 0.9})%>
</p>
<p>
  <%=l(:label_limit_cr)%>
  <%= text_field_tag("settings[limit_cr]", @settings['limit_cr'],{size: 5, placeholder: 0.8})%>
</p>
<p>
  <%=l(:label_region)%>
  <%= select_tag('settings[holiday_region]', options_for_select(Holidays.available_regions, @settings['holiday_region'])) %>
</p>

