<table id="evm-indicator-value-table">
  <tr>
    <th rowspan="2"><%=l(:indicator_table_header_date)%></th>
    <th colspan="5"><%=l(:indicator_table_header_today)%></th>
    <th colspan="2"><%=l(:indicator_table_header_difference)%></th>
    <th colspan="3"><%=l(:indicator_table_header_performance)%></th>
    <th colspan="5"><%=l(:indicator_table_header_forecast)%></th>
  </tr>
  <tr>
    <th>BAC</th>
    <th>Complete EV</th>
    <th>PV</th>
    <th>EV</th>
    <th>AC</th>
    <th>SV</th>
    <th>CV</th>
    <th>SPI</th>
    <th>CPI</th>
    <th>CR</th>
    <th>EAC</th>
    <th>ETC</th>
    <th>VAC</th>
    <th>Delay</th>
    <th>TCPI</th>
  </tr>
  <tr>
    <td rowspan="2">NA</td>
    <td>NA</td>
    <td rowspan="2">99%</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td rowspan="2">NA</td>
    <td rowspan="2">NA</td>
    <td rowspan="2">NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td rowspan="2">NA Days</td>
    <td rowspan="2">NA</td>
  </tr>
  <tr>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
  </tr>
</table>
<%= l(:explanation_upper_row)%> <%= l(:explanation_lower_row)%>