<table id="evm-indicator-value-table">
  <tr>
    <th rowspan="2"><%=l(:indicator_table_header_date)%></th>
    <th colspan="5"><%=l(:indicator_table_header_today)%></th>
    <th colspan="2"><%=l(:indicator_table_header_difference)%></th>
    <th colspan="3"><%=l(:indicator_table_header_performance)%></th>
    <th colspan="5"><%=l(:indicator_table_header_forecast)%></th>
  </tr>
  <tr>
    <th>BAC</th>
    <th>Complete EV</th>
    <th>PV</th>
    <th>EV</th>
    <th>AC</th>
    <th>SV</th>
    <th>CV</th>
    <th>SPI</th>
    <th>CPI</th>
    <th>CR</th>
    <th>EAC</th>
    <th>ETC</th>
    <th>VAC</th>
    <th>Delay</th>
    <th>TCPI</th>
  </tr>
  <tr>
    <td rowspan="2"><%=Time.now.to_date%></td>
    <td><%=@todays_value['bac_value_hours']%></td>
    <td rowspan="2"><%=@todays_value['complete_ev_value']%></td>
    <td><%=@todays_value['todays_pv_value_hours']%></td>
    <td><%=@todays_value['todays_ev_value_hours']%></td>
    <td><%=@todays_value['todays_ac_value_hours']%></td>
    <td><%=@todays_value['todays_sv_value_hours']%></td>
    <td><%=@todays_value['todays_cv_value_hours']%></td>
    <td><%=@todays_value['todays_spi_value_hours']%></td>
    <td><%=@todays_value['todays_cpi_value_hours']%></td>
    <td><%=@todays_value['todays_cr_value_hours']%></td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td rowspan="2">NA Days</td>
    <td rowspan="2">NA</td>
  </tr>
  <tr>
    <td><%=@todays_value['bac_value_days']%></td>
    <td><%=@todays_value['todays_pv_value_days']%></td>
    <td><%=@todays_value['todays_ev_value_days']%></td>
    <td><%=@todays_value['todays_ac_value_days']%></td>
    <td><%=@todays_value['todays_sv_value_days']%></td>
    <td><%=@todays_value['todays_cv_value_days']%></td>
    <td><%=@todays_value['todays_spi_value_days']%></td>
    <td><%=@todays_value['todays_cpi_value_days']%></td>
    <td><%=@todays_value['todays_cr_value_days']%></td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
  </tr>
</table>
<%= l(:explanation_upper_row)%> <%= l(:explanation_lower_row)%>