<table id="evm-indicator-value-table">
  <tr>
    <th rowspan="2"><%=l(:indicator_table_header_date)%></th>
    <th colspan="5"><%=l(:indicator_table_header_today)%></th>
    <th colspan="2"><%=l(:indicator_table_header_difference)%></th>
    <th colspan="3"><%=l(:indicator_table_header_performance)%></th>
    <th colspan="5"><%=l(:indicator_table_header_forecast)%></th>
  </tr>
  <tr>
    <th>BAC</th>
    <th>Complete EV</th>
    <th>PV</th>
    <th>EV</th>
    <th>AC</th>
    <th>SV</th>
    <th>CV</th>
    <th>SPI</th>
    <th>CPI</th>
    <th>CR</th>
    <th>EAC</th>
    <th>ETC</th>
    <th>VAC</th>
    <th>TCPI</th>
    <th>Delay</th>
  </tr>
  <tr>
    <td rowspan="2"><%=@evm.basis_date%></td>
    <td><%=@evm.bac(1)%></td>
    <td><%=@evm.complete_ev(1)%> %</td>
    <td><%=@evm.today_pv(1)%></td>
    <td><%=@evm.today_ev(1)%></td>
    <td><%=@evm.today_ac(1)%></td>
    <td><%=@evm.today_sv(1)%></td>
    <td><%=@evm.today_cv(1)%></td>
    <td><%=@evm.today_spi(1)%></td>
    <td><%=@evm.today_cpi(1)%></td>
    <td><%=@evm.today_cr(1)%></td>
    <td><%=@evm.eac(1)%></td>
    <td><%=@evm.etc(1)%></td>
    <td><%=@evm.vac(1)%></td>
    <td><%=@evm.tcpi(1)%></td>
    <td rowspan="2"><%=@evm.delay%> Days</td>
  </tr>
  <tr>
    <td><%=@evm.bac(8)%></td>
    <td><%=@evm.complete_ev(8)%> %</td>
    <td><%=@evm.today_pv(8)%></td>
    <td><%=@evm.today_ev(8)%></td>
    <td><%=@evm.today_ac(8)%></td>
    <td><%=@evm.today_sv(8)%></td>
    <td><%=@evm.today_cv(8)%></td>
    <td><%=@evm.today_spi(8)%></td>
    <td><%=@evm.today_cpi(8)%></td>
    <td><%=@evm.today_cr(8)%></td>
    <td><%=@evm.eac(8)%></td>
    <td><%=@evm.etc(8)%></td>
    <td><%=@evm.vac(8)%></td>
    <td><%=@evm.tcpi(8)%></td>
  </tr>
</table>
<%= l(:explanation_upper_row)%> <%= l(:explanation_lower_row)%>