<h4><%= l(:explanation_basis)%></h4>
<div class="evm-explanation-basis">
  <li>BAC</li>
  <%= l(:explanation_bac) %></br>
  <li>PV</li>
  <%= l(:explanation_pv) %></br>
  <li>EV</li>
  <%= l(:explanation_ev) %></br>
  <li>AC</li>
  <%= l(:explanation_ac) %></br>
</div>
<h4><%= l(:explanation_difference)%></h4>
<div class="evm-explanation-difference">
  <li>SV</li>
  <%= l(:explanation_sv) %></br>
  <li>CV</li>
  <%= l(:explanation_cv) %></br>
</div>
<h4><%= l(:explanation_performance)%></h4>
<div class="evm-explanation-performance">
  <li>SPI</li>
  <%= l(:explanation_spi) %></br>
  <li>CPI</li>
  <%= l(:explanation_cpi) %></br>
  <li>CR</li>
  <%= l(:explanation_cr) %></br>
</div>
<h4><%= l(:explanation_forecast)%></h4>
<div class="evm-explanation-forecast">
  <li>EAC</li>
  <%= l(:explanation_eac) %></br>
  <li>ETC</li>
  <%= l(:explanation_etc) %></br>
  <li>VAC</li>
  <%= l(:explanation_vac) %></br>
  <li>TCPI</li>
  <%= l(:explanation_tcpi) %></br>
  <li>DELAY</li>
  <%= l(:explanation_difference_end_date) %></br>
</div>
