<table id="evm-indicator-value-table" border="1" bordercolor = "#bbb">
  <tr>
    <th rowspan="2"><%=l(:indicator_table_header_date)%></th>
    <th colspan="5"><%=l(:indicator_table_header_today)%></th>
    <th colspan="2"><%=l(:indicator_table_header_difference)%></th>
    <th colspan="3"><%=l(:indicator_table_header_performance)%></th>
    <th colspan="5"><%=l(:indicator_table_header_forecast)%></th>
  </tr>
  <tr>
    <th>BAC</th>
    <th>Complete EV</th>
    <th>PV</th>
    <th>EV</th>
    <th>AC</th>
    <th>SV</th>
    <th>CV</th>
    <th>SPI</th>
    <th>CPI</th>
    <th>CR</th>
    <th>EAC</th>
    <th>ETC</th>
    <th>VAC</th>
    <th>TCPI</th>
    <th>Delay</th>
  </tr>
  <tr>
    <td rowspan="2"><%=project_evm.basis_date%></td>
    <td><%=project_evm.bac%></td>
    <td><%=project_evm.complete_ev%> %</td>
    <td><%=project_evm.today_pv%></td>
    <td><%=project_evm.today_ev%></td>
    <td><%=project_evm.today_ac%></td>
    <td><%=project_evm.today_sv%></td>
    <td><%=project_evm.today_cv%></td>
    <td <%=spi_color%>><%=project_evm.today_spi%></td>
    <td <%=cpi_color%>><%=project_evm.today_cpi%></td>
    <td <%=cr_color%>><%=project_evm.today_cr%></td>
    <td><%=project_evm.eac%></td>
    <td><%=project_evm.etc%></td>
    <td><%=project_evm.vac%></td>
    <td><%=project_evm.tcpi%></td>
    <td rowspan="2"><%=project_evm.delay%> Days</td>
  </tr>
  <tr>
    <td><%=project_evm.bac(working_hours)%></td>
    <td><%=project_evm.complete_ev(working_hours)%> %</td>
    <td><%=project_evm.today_pv(working_hours)%></td>
    <td><%=project_evm.today_ev(working_hours)%></td>
    <td><%=project_evm.today_ac(working_hours)%></td>
    <td><%=project_evm.today_sv(working_hours)%></td>
    <td><%=project_evm.today_cv(working_hours)%></td>
    <td <%=spi_color%>><%=project_evm.today_spi(working_hours)%></td>
    <td <%=cpi_color%>><%=project_evm.today_cpi(working_hours)%></td>
    <td <%=cr_color%>><%=project_evm.today_cr(working_hours)%></td>
    <td><%=project_evm.eac(working_hours)%></td>
    <td><%=project_evm.etc(working_hours)%></td>
    <td><%=project_evm.vac(working_hours)%></td>
    <td><%=project_evm.tcpi(working_hours)%></td>
  </tr>
</table>
<%= l(:explanation_upper_row)%> <%= l(:explanation_lower_row)%>
<br>
<br>
