<table id="evm-indicator-value-table" border="1" bordercolor = "#bbb">
  <tr>
    <th><%=l(:field_assigned_to)%></th>
    <th>BAC(<%=l(:field_assigned_to)%>)</th>
    <th>Complete EV</th>
    <th>PV</th>
    <th>EV</th>
    <th>AC</th>
    <th>SV</th>
    <th>CV</th>
    <th>SPI</th>
    <th>CPI</th>
  </tr>
  <% assignee_evm.each do |assignee_id, assignee_evm| %>
    <tr>
      <td><%=assignee_name(assignee_id)%></td>
      <td><%=assignee_evm.bac%></td>
      <td><%=assignee_evm.complete_ev%> %</td>
      <td><%=assignee_evm.today_pv%></td>
      <td><%=assignee_evm.today_ev%></td>
      <td><%=assignee_evm.today_ac%></td>
      <td><%=assignee_evm.today_sv%></td>
      <td><%=assignee_evm.today_cv%></td>
      <td <%=spi_color%>><%=assignee_evm.today_spi%></td>
      <td <%=cpi_color%>><%=assignee_evm.today_cpi%></td>
    </tr>
  <% end %>
</table>
<br>
