<div class="metrics-col">
  <fieldset><legend><%= l(:Indicator_metrics) %></legend>
  <table id="metrics-col">
    <tr>
      <td align="right"><%= l(:indicator_target_issues_count) %>:</td>
      <td><%= project_metrics[:target_issue_ids] %> / <%= project_metrics[:total_issue_ids] %></td>
    </tr>
    <tr>
      <td align="right"><%= l(:indicator_status) %>:</td>
      <td><%= project_status(project_metrics[:state]) %> <%= format_date(finished_date) %></td>
    </tr>
    <tr>
      <td align="right"><%= l(:indicator_duration) %>:</td>
      <td><%= format_date(project_metrics[:plan_start_date]) %> - <%= format_date(project_metrics[:plan_due_date]) %></td>
    </tr>
    <tr>
      <td align="right"><%= l(:indicator_difference) %>:</td>
      <td><%= project_metrics[:due_date_difference] %></td>
    </tr>
  </table>
  </fieldset>
</div>
<% if use_baseline %>
  <div class="metrics-col">
    <fieldset><legend><%= l(:indicator_baseline_variance) %></legend>
    <table id="metrics-col">
      <tr>
        <td align="right"><%= l(:indicator_bac) %>:</td>
        <%=difference_color(baseline_variance[:bac])%>
      </tr>
      <tr>
        <td align="right"><%= l(:indicator_due_date) %>:</td>
        <%=difference_color(baseline_variance[:due_date])%>
      </tr>
      <tr>
        <td align="right"><%= l(:indicator_schedule) %>:</td>
        <%=difference_color(baseline_variance[:schedule])%>
      </tr>
    </table>
    </fieldset>
  </div>
<% end %>
<div class="metrics-col">
  <% if version_list.present? %>
    <fieldset><legend><%=l(:field_version)%></legend>
    <table id="metrics-table">
      <% version_list.each do |name, count| %>
        <tr>
          <td><%= name %></td>
          <td align="right"><%= count %></td>
        </tr>
      <% end %>
    </table>
    </fieldset>
  <% end %>
</div>
<div class="metrics-col">
  <fieldset><legend><%=l(:field_assigned_to)%></legend>
  <table id="metrics-table">
    <% assignee_list.each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td align="right"><%= count %></td>
      </tr>
    <% end %>
  </table>
  </fieldset>
</div>
<div class="metrics-col">
  <fieldset><legend><%=l(:field_tracker)%></legend>
  <table id="metrics-table">
    <% tracker_list.each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td align="right"><%= count %></td>
      </tr>
    <% end %>
  </table>
  </fieldset>
</div>
<div class="metrics-apply"></div>
<br>
