<div class="metrics-col">
  <fieldset><legend><%= l(:Indicator_metrics) %></legend>
  <b><%= l(:indicator_duration) %>:</b> <%= project_metrics[:plan_start_date] %> - <%= project_metrics[:plan_due_date] %><br>
  <b><%= l(:indicator_status) %>:</b> <%= project_metrics[:state] %><br>
  <b><%= l(:indicator_difference) %>:</b> <%= project_metrics[:due_date_difference] %><br>
  <b><%= l(:indicator_target_issues_count) %>:</b> <%= project_metrics[:target_issue_ids] %> / <%= project_metrics[:total_issue_ids] %><br>
  </fieldset>
</div>
<div class="metrics-col">
  <fieldset><legend><%= l(:indicator_baseline_difference) %></legend>
  <b><%= l(:indicator_bac) %>:</b> <%= project_state[:bac] %><br>
  <b><%= l(:indicator_due_date) %>:</b> <%= project_state[:due_date] %><br>
  <b><%= l(:indicator_schedule) %>:</b> <%= project_state[:schedule] %><br>
  </fieldset>
</div>
<div class="metrics-col">
  <fieldset><legend><%=l(:field_version)%></legend>
  <table id="metrics-table">
    <% version_list.each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td align="right"><%= count %></td>
      </tr>
    <% end %>
  </table>
  </fieldset>
</div>
<div class="metrics-col">
  <fieldset><legend><%=l(:field_assigned_to)%></legend>
  <table id="metrics-table">
    <% assignee_list.each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td align="right"><%= count %></td>
      </tr>
    <% end %>
  </table>
  </fieldset>
</div>
<div class="metrics-col">
  <fieldset><legend><%=l(:field_tracker)%></legend>
  <table id="metrics-table">
    <% tracker_list.each do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td align="right"><%= count %></td>
      </tr>
    <% end %>
  </table>
  </fieldset>
</div>
<div class="metrics-apply"></div>
<br>

