<div id="evm-graph-lines">
  <section>
    <script>
      var actualWeek = <%= basis_date.to_time.to_i * 1000 %>;
      var graphTitleMain = <%= raw project_name.to_json %> ;
      var projectChartData = <%= raw chart_data.to_json %>;
      var projectChartHtmlElement = "evm-graph-lines";
      drawProjectChart(projectChartData, projectChartHtmlElement, actualWeek, graphTitleMain);
    </script>
    <br>
  </section>
</div>
<%= chart_data[:planned_value].to_h.keys %>
<%= chart_data[:earned_value].to_h.values.to_s.delete("nil") %>
<canvas id="myChart" width="900" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= raw chart_data[:planned_value].to_h.keys %>,
        datasets: [{
            label: "PV",
            spanGaps: true,
            data: <%= chart_data[:planned_value].to_h.values.to_s.delete("nil") %>,
            borderWidth: 2,
            lineTension: 0,
            borderColor: "dodgerblue",
            pointRadius: 0,
            backgroundColor: "dodgerblue",
            fill: false
        },{
            label: "EV",
            spanGaps: true,
            data: <%= chart_data[:earned_value].to_h.values.to_s.delete("nil") %>,
            borderWidth: 2,
            lineTension: 0,
            borderColor: "limegreen",
            pointRadius: 0,
            backgroundColor: "limegreen",
            fill: false
        },{
            label: "AC",
            spanGaps: true,
            data: <%= chart_data[:actual_cost].to_h.values.to_s.delete("nil") %>,
            borderWidth: 2,
            lineTension: 0,
            borderColor: "Orange",
            pointRadius: 0,
            backgroundColor: "Orange",
            fill: false
        },{
            label: "PV Daily",
            type: 'bar',
            data: <%= chart_data[:planned_value_daily].to_h.values.to_s.delete("nil") %>,
            borderWidth: 2,
            borderColor: "Orange",
            backgroundColor: "Orange"
        },{
            label: "Baseline",
            spanGaps: true,
            data: <%= chart_data[:baseline_value].to_h.values.to_s.delete("nil") %>,
            borderWidth: 2,
            lineTension: 0,
            borderColor: "Navy",
            pointRadius: 0,
            backgroundColor: "Navy",
            fill: false
        },{
            label: "BAC",
            spanGaps: true,
            data: <%= chart_data[:bac_top_line].to_h.values.to_s.delete("nil") %>,
            borderDash: [8, 2],
            borderWidth: 2,
            lineTension: 0,
            borderColor: "Navy",
            pointRadius: 0,
            backgroundColor: "Navy",
            fill: false
        },{
            label: "EAC",
            spanGaps: true,
            data: <%= chart_data[:eac_top_line].to_h.values.to_s.delete("nil") %>,
            borderDash: [8, 2],
            borderWidth: 2,
            lineTension: 0,
            borderColor: "Navy",
            pointRadius: 0,
            backgroundColor: "Navy",
            fill: false
        },{
            label: "AC Forecast",
            spanGaps: true,
            data: <%= chart_data[:actual_cost_forecast].to_h.values.to_s.delete("nil") %>,
            borderDash: [8, 2],
            borderWidth: 2,
            lineTension: 0,
            borderColor: "Orange",
            pointRadius: 0,
            backgroundColor: "Orange",
            fill: false
        },{
            label: "EV Forecast",
            spanGaps: true,
            data: <%= chart_data[:earned_value_forecast].to_h.values.to_s.delete("nil") %>,
            borderDash: [8, 2],
            borderWidth: 2,
            lineTension: 0,
            borderColor: "limegreen",
            pointRadius: 0,
            backgroundColor: "limegreen",
            fill: false
        }]
    },
    options: {
        title:  {
            display: true,
            text: <%= raw project_name.to_json %>
        },
        scales: {
            xAxes: [{
                type: 'time',
                distribution: 'linear',
                ticks: {
                    source: 'data'
                }
            }]
        }
    }
});
</script>