<% html_title("Project tracking with EVM - assignee issues ") %>
<!-- sub title -->
<% content_for :title_sub do %>
  <%= l(:label_nav_assignee) %>
<% end %>
<!-- contextual -->
<%= render partial: "/common/contextual", locals: { project: @project, cfg_param: @cfg_param } %>
<!-- Content of view option -->
<% content_for :additional_option do %>
  <!-- selectable assignee -->
  <div class="option-col">
    <p><%= l(:label_select_assignee) %></p>
    <%= select_tag :selected_assignee_id,
        options_for_select(@selectable_assignees,
                           @cfg_param[:selected_assignee_id]),
                           { multiple: true, size: 5 }%>
  </div>
<% end %>
<!-- view option -->
<%= render partial: "/common/option_field"%>
<!-- contents -->
<section>
  <%= raw display_no_data(@cfg_param[:selected_assignee_id]) %>
  <% @assignee_evm.each do |assignee_id, evm| %>
    <h3><%= evm.description %></h3>
    <!-- EVN value -->
    <%= render partial: "/common/basic_evm_value", locals: { evm: evm, cfg_param: @cfg_param } %>
    <br>
    <!-- Charts -->
    <%= render partial: "/evmassignees/assignee_evm_chart_js",
        locals: { basis_date: convert_to_labels(evm.finished_date || @cfg_param[:basis_date]),
                  chart_data: @assignee_evm_chart[assignee_id],
                  working_hours: @cfg_param[:working_hours],
                  basis_date_label: basis_date_label(evm.finished_date),
                  id: assignee_id,
                  tittle: evm.description } %>
  <% end %>
</section>