<% html_title("Project tracking with EVM - assignee issues ") %>
<!-- add select option: selectable assignee -->
<% content_for :additional_option do %>
  <div class="option-col">
    <p><%= l(:subtitle_evm_summary_assignee) %></p>
    <%= select_tag :selected_assignee_id,
        options_for_select(@selectable_assignees,
                           @cfg_param[:selected_assignee_id]),
                           {multiple: true, size: 5}%>
  </div>
<% end %>
<%= render partial: "/common/option_field"%>
<!-- contents -->
<section>
  <% @assignee_evm.each do |assignee_id, evm| %>
    <h3><%=assignee_name(assignee_id)%></h3>
    <!-- EVN value -->
    <%= render partial: "/common/basic_evm_value", locals: { evm: evm} %>
    <!-- Charts -->
    <%= render partial: "/common/basic_evm_chart_js",
        locals: { basis_date: @cfg_param[:basis_date],
                  evm: evm,
                  id: assignee_id,
                  tittle: assignee_name(assignee_id) } %>
  <% end %>
</section>