<% html_title("Project tracking with EVM - assignees ") %>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag "issue_evm",         plugin: "redmine_issue_evm" %>
  <%= javascript_include_tag "drawchart",      plugin: "redmine_issue_evm" %>
  <%= javascript_include_tag "highcharts.js",  plugin: "redmine_issue_evm" %>
<% end %>
<!-- contextual -->
<div class="contextual">
  <%= link_to l(:subtitle_evm_graph_version), {controller: :evmversions, action: :index, id: @project.id, params: @cfg_param} , class: "icon icon-settings"%>
  <%= link_to l(:subtitle_evm_summary_assignee), {controller: :evms, action: :index, id: @project.id} , class: "icon icon-settings"%>
</div>
<!--option -->
<h2><%= l(:title_evm_tab)%></h2>
<%= form_tag url_for(action: :index), method: :get, id: "query_form" do %>
  <fieldset id="filters" class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <!-- basis date -->
      <div class="option-col">
        <p><%= l(:label_basis_date) %></p>
        <%= date_field_tag("basis_date", @cfg_param[:basis_date], size: 8) %><%= calendar_for("basis_date") %>
      </div>
      <!-- select assignees -->
      <div class="option-col">
        <p><%= l(:subtitle_evm_summary_assignee) %></p>
      </div>
      <div class="option-col">
        <p><%= l(:label_other_evm_assignee) %></p>
        <%= select_tag :selected_assinee_id,
            options_for_select(@selectable_assignees,
                               @cfg_param[:selected_assinee_id]),
                               {multiple: true, size: 5}%>
      </div>
      <!-- Apply button -->
      <div class="option-apply">
        <%= link_to "#", {onclick: "$(this).closest('form').submit()", class: "icon icon-checked" } do l(:button_apply) end %>
      </div>
    </div>
  </fieldset>
<% end %>
<!-- contents -->
<section>
  <% @assignee_evm.each do |assignee_id, evm| %>
    <h3><%=assignee_name(assignee_id)%></h3><br>
    <!-- EVM Summary -->
    <table id="evm-indicator-option_value-table" border="1" bordercolor = "#bbb">
      <tr>
        <th>BAC(<%=l(:field_assigned_to)%>)</th>
        <th>Complete EV</th>
        <th>PV</th>
        <th>EV</th>
        <th>AC</th>
        <th>SV</th>
        <th>CV</th>
        <th>SPI</th>
        <th>CPI</th>
      </tr>
      <tr>
        <td><%=evm.bac%></td>
        <td><%=evm.complete_ev%> %</td>
        <td><%=evm.today_pv%></td>
        <td><%=evm.today_ev%></td>
        <td><%=evm.today_ac%></td>
        <td><%=evm.today_sv%></td>
        <td><%=evm.today_cv%></td>
        <td <%=spi_color(evm)%>><%=evm.today_spi%></td>
        <td <%=cpi_color(evm)%>><%=evm.today_cpi%></td>
      </tr>
    </table>
    <br>
    <!-- Charts -->
    <div id="evm-graph-lines-assignees-<%= assignee_id %>">
      <%= render partial: "/evmassignees/assignees_chart_js",
          locals: { basis_date: @cfg_param[:basis_date],
                    evm: evm,
                    assignee_id: assignee_id,
                    assignee_name: assignee_name(assignee_id) } %>
    </div>   
  <% end %>
</section>