<div class="contextual">
  <%= link_to_if_authorized(l(:label_term_category_new), {:controller => 'glossary', :action => 'add_term_category', :id => @project}, :class => 'icon icon-add') %>
</div>


<h2><%= l(:label_term_category) %></h2>

<% if @categories.any? %>
  <table class="list">
    <thead>
      <th style="text-align:left">#</th>
      <th style="text-align:left"><%= l(:field_name) %></th>
      <th style="text-align:left"><%= l(:field_term_counts_under_category) %></th>
      <th style="text-align:left;width:15%"></th>
      <th style="text-align:left;width:30%"></th>
    </thead>
    <tbody>
      <% for category in @categories %>
        <% unless category.new_record? %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td><%=category.position%></td>
            <td><%=h(category.name) %></td>
            <td><%=h(category.terms.size) %></td>
            <td align="center">
              <% if authorize_for("term_categories", "edit") %>
                <%= link_to image_tag('2uparrow.png', :alt => l(:label_sort_highest)), {:controller => 'term_categories', :action => 'change_order', :id => @project, :category_id => category, :position => 'highest'}, :method => :post, :title => l(:label_sort_highest) %>
                <%= link_to image_tag('1uparrow.png', :alt => l(:label_sort_higher)), {:controller => 'term_categories', :action => 'change_order', :id => @project, :category_id => category, :position => 'higher'}, :method => :post, :title => l(:label_sort_higher) %> -
                <%= link_to image_tag('1downarrow.png', :alt => l(:label_sort_lower)), {:controller => 'term_categories', :action => 'change_order', :id => @project, :category_id => category, :position => 'lower'}, :method => :post, :title => l(:label_sort_lower) %>
                <%= link_to image_tag('2downarrow.png', :alt => l(:label_sort_lowest)), {:controller => 'term_categories', :action => 'change_order', :id => @project, :category_id => category, :position => 'lowest'}, :method => :post, :title => l(:label_sort_lowest) %>
              <% end %>
            </td>
            <td align="right">
<%= link_to_if_authorized(image_tag('edit.png'), { :action => 'edit', :id => @project, :category_id => category }, :title => l(:button_edit)) %>
<%= link_to_if_authorized(image_tag('delete.png'), {:action => 'destroy', :id => @project, :category_id => category}, :method => :post, :title => l(:button_delete)) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<%= render :partial => 'glossary/view_term' %>
