<% html_title("Project tracking with EVM - New report ") %>
<h2><%= l(:title_evm_tab) %></h2>
<h3><%= l(:label_report_create) %></h3>
<%= form_for @evm_report, url: project_evmreports_path do |f| %>
  <%= render partial: "/evmreports/common",
      locals: { f: f,
                evm_report: @evm_report,
                project: @project,
                evmbaseline: @evmbaseline,
                evm_report_prev: @evm_report_prev,
                evm_setting: @emv_setting} %>
  <%= submit_tag l(:button_create) %>&emsp;
  <%= link_to l(:button_back), { controller: :evms, action: :index, id: @evm_report.project_id } %>
<% end %>
