<% html_title("Project tracking with EVM - New report ") %>
<h2><%= l(:title_evm_tab) %></h2>
<h3><%= l(:label_report_create) %></h3>
<%= form_for @evm_report, url: project_evmreports_path do |f| %>
  <div class="box tabular">
    <p>
      <%= f.label :project_id, l(:field_project) %>
      <%= f.hidden_field :project_id, value: @evm_report.project_id%>
      <%= text_field_tag :project_name, @project.name, size: 50, readonly: true%>
    </p>
    <p>
      <%= f.label :status_date, l(:label_basis_date) %>
      <%= f.text_field :status_date, size: 11, readonly: true%>
    </p>
    <p>
      <%= f.label :baseline_id, "baseline" %>
      <%= f.hidden_field :baseline_id, value: @evm_report.baseline_id%>
      <%= text_field_tag :baseline_subject, @evmbaseline.subject, size: 50, readonly: true%>
    </p>
    <p>
      <%= f.label :evm_value, l(:subtitle_evm_indicator) %>
      BAC:<%= f.text_field :evm_bac, size: 8, readonly: true%>
      PV:<%= f.text_field :evm_pv, size: 8, readonly: true%>
      EV:<%= f.text_field :evm_ev, size: 8, readonly: true%>
      AC:<%= f.text_field :evm_ac, size: 8, readonly: true%>
      SV:<%= f.text_field :evm_sv, size: 8, readonly: true%>
      CV:<%= f.text_field :evm_cv, size: 8, readonly: true%>
    </p>
    <p>
      <%= f.label :report_text %>
      <%= f.text_area :report_text, class: "wiki-edit", rows: 20, required: true %>
    </p>
    <%= wikitoolbar_for "project_evmreport_report_text" %>
  </div>
  <%= submit_tag l(:button_create) %>&emsp;
  <%= link_to l(:button_back), { controller: :evms, action: :index, id: @project.id } %>
<% end %>
