<% html_title("Project tracking with EVM - New report ") %>
<h2><%= l(:title_evm_tab) %></h2>
<h3><%= l(:label_report_create) %></h3>
<%= form_for @evm_report, url: project_evmreports_path do |f| %>
  <%= submit_tag l(:button_create) %>&emsp;
  <%= link_to l(:button_back), { controller: :evmreports, action: :index, id: @project.id } %>
<% end %>
