<% html_title("Project tracking with EVM - parent issues ") %>
<!-- sub title -->
<% content_for :title_sub do %>
  <%= l(:label_nav_parent_issue) %>
<% end %>
<!-- contextual -->
<%= render partial: "/common/contextual", locals: { project: @project, cfg_param: @cfg_param } %>
<!-- Content of view option -->
<% content_for :additional_option do %>
  <!-- selectable parent issues -->
  <div class="option-col">
    <p><%= l(:label_select_parent_issue) %></p>
    <%= select_tag :selected_parent_issue_id,
        options_from_collection_for_select(@selectable_parent_issue, :id, :subject,
                                           @cfg_param[:selected_parent_issue_id]),
                                           { multiple: true, size: 5 }%>
  </div>
<% end %>
<!-- view option -->
<%= render partial: "/common/option_field"%>
<!-- contents -->
<section>
  <%= raw display_no_data(@cfg_param[:selected_parent_issue_id]) %>
  <% @parent_issue_evm.each do |parent_issue_id, evm| %>
    <h3><%= parent_issue_link(parent_issue_id) %> <%= evm.description %></h3>
    <!-- EVN value -->
    <%= render partial: "/common/basic_evm_value", locals: { evm: evm, cfg_param: @cfg_param } %>
    <br>
    <!-- Charts -->
    <%= render partial: "/common/basic_evm_chart_js",
        locals: { basis_date: convert_to_labels(evm.finished_date || @cfg_param[:basis_date]),
                  chart_data: @parent_issue_evm_chart[parent_issue_id],
                  basis_date_label: basis_date_label(evm.finished_date),
                  id: parent_issue_id,
                  tittle: evm.description } %>
  <% end %>
</section>