<% html_title("Project tracking with EVM - parent issues ") %>
<% content_for :additional_option do %>
  <!-- selectable parent issues -->
  <div class="option-col">
    <p><%= l(:label_display_evm_parent_issue) %></p>
    <%= select_tag :selected_parent_issue_id,
        options_from_collection_for_select(@selectable_parent_issue, :id, :subject,
                                           @cfg_param[:selected_parent_issue_id]),
                                           {multiple: true, size: 5}%>
  </div>
<% end %>
<%= render partial: "/common/option_field"%>
<!-- contents -->
<section>
  <% @parent_issue_evm.each do |parent_issue_id, evm| %>
    <h3><%=parent_issue_subject(parent_issue_id)%></h3>
    <!-- EVN value -->
    <%= render partial: "/common/basic_evm_value", locals: { evm: evm} %>
    <br>
    <!-- Charts -->
    <%= render partial: "/common/basic_evm_chart_js",
        locals: { basis_date: @cfg_param[:basis_date],
                  evm: evm,
                  id: parent_issue_id,
                  tittle: parent_issue_subject(parent_issue_id) } %>
  <% end %>
</section>