<h2><%= l(:label_baseline_create) %></h2>
<%= form_for @evm_settings, url: project_settings_path do |f| %>
  <div class="box tabular">
    <p>
      <%= f.label :view_forecast %>
      <%= f.check_box :view_forecast,{},checked_value = "true",unchecked_value = "false" %>
    </p>
  </div>
  <%= submit_tag l(:button_create) %>
<% end %>
