<h2><%=l :label_glossary_term %> #<%= @term.id %></h2>

<%= labelled_form_for :glossary_term, @term, url: project_glossary_term_path, html: {multipart: true, id: 'term-form'} do |f| %>
  <%= render partial: 'glossary_terms/form', locals: {form: f} %>
  <%= f.submit l(:button_edit) %>
  <%= preview_link preview_project_glossary_term_path(@project, @term), 'term-form' %>
<% end %>

<div id="preview" class="wiki" ></div>
