<h2><%=l :label_glossary_terms %></h2>

<div class="contextual">
  <%= link_to l(:label_glossary_term_new), new_glossary_term_path, class: 'icon icon-add' %>
</div>
  
<table class="list">
  <thead>
    <tr>
      <th><%=l :field_name %></th>
      <th><%=l :field_description %></th>
    </tr>
  </thead>
  <tbody>
    <% @glossary_terms.each do |term| %>
    <tr>
      <td class="name">
	<%= link_to term.name, term %>
      </td>
      <td class="description">
	<%= term.description %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
