<div class="contextual">
  <%= link_to l(:button_edit), edit_glossary_term_path, class: 'icon icon-edit' %>
  <%= link_to l(:button_delete), glossary_term_path, method: :delete,
  data: {confirm: l(:text_are_you_sure)}, class: 'icon icon-del' %>
</div>

<h2><%=l :label_glossary_term %> #<%= @term.id %></h2>

<h3><%= @term.name %></h3>

<table>
  <tr>
    <th><%=l :field_description %></th>
    <td><%= @term.description %></td>
  </tr>
  <tr>
    <th><%=l :field_created_on %></th>
    <td><%= format_time(@term.created_at) %></td>
  </tr>
  <tr>
    <th><%=l :field_updated_on %></th>
    <td><%= format_time(@term.updated_at) %></td>
  </tr>
</table>
