<table id="evm-indicator-value-table" border="1" bordercolor = "#bbb">
  <tr>
    <th>BAC</th>
    <th>Complete EV</th>
    <th>PV</th>
    <th>EV</th>
    <th>AC</th>
    <th>SV</th>
    <th>CV</th>
    <th>SPI</th>
    <th>CPI</th>
  </tr>
  <tr>
    <td><%= evm.bac %></td>
    <td><%= evm.complete_ev %></td>
    <td><%= evm.today_pv %></td>
    <td><%= evm.today_ev %></td>
    <td><%= evm.today_ac %></td>
    <td><%= evm.today_sv %></td>
    <td><%= evm.today_cv %></td>
    <%= performance_indicator(evm.today_spi, cfg_param[:limit_spi]) %>
    <%= performance_indicator(evm.today_cpi, cfg_param[:limit_cpi]) %>
  </tr>
</table>
<br>
