<% content_for :header_tags do %>
  <%= stylesheet_link_tag "issue_evm",         plugin: "redmine_issue_evm" %>
  <%= javascript_include_tag "Chart.bundle.min.js" %>
  <%= javascript_include_tag "chartjs-plugin-annotation.min.js", plugin: "redmine_issue_evm" %>
<% end %>
<script>
  function disableobject( object, ischecked ) {
    document.getElementById(object).disabled = ischecked;
  }
</script>
<!--option -->
<h2><%= l(:title_evm_tab) %></h2>
<h3><%= yield :title_sub %></h3>
<%= form_tag url_for(action: :index), method: :get, id: "query_form" do %>
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <!-- basis date -->
      <div class="option-col">
        <p><%= l(:label_basis_date) %></p>
        <%= date_field_tag("basis_date", @cfg_param[:basis_date], size: 8) %><%= calendar_for("basis_date") %>
      </div>
      <!-- additional option of each page -->
      <%= yield :additional_option %>
    </div>
  </fieldset>
  <!-- Apply button -->
  <p class="buttons">
    <%= link_to "#", {onclick: "$(this).closest('form').submit()", class: "icon icon-checked" } do l(:button_apply) end %>
    <%= link_to l(:button_clear), { basis_date: Date.today }, :class => "icon icon-reload"  %>
  </p>
<% end %>
